<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minima.android">

    <!-- Foreground Service allowed -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Camera, Photos, input file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Network API -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Wake Lock-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- BOOT Message -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Battery Optimisation -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="false"

        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:persistent="true"

        android:name=".MinimaApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_minima"
        android:roundIcon="@drawable/ic_minima"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinimaAndroid"
        tools:targetApi="31">

        <activity
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity   android:name=".ui.maxima.MyDetailsActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Maxima Details"/>

        <activity   android:name=".ui.maxima.contacts.ContactActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Maxima Contact"/>

        <activity   android:name=".ui.mds.pending.MDSPendingActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Pending Commands"/>

        <activity   android:name=".ui.mds.MDSBrowser"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="MiniDAPP"/>

        <activity   android:name=".ui.store.StoreBrowser"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Store"/>

<!--        <activity   android:name=".ui.backup.Bip39Activity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleInstance"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:theme="@style/Theme.MinimaAndroid.NoActionBar"-->
<!--            android:label="Archive"/>-->

        <activity   android:name=".ui.archive.ChainSyncActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Chain Re-Sync"/>

        <activity   android:name=".ui.archive.SeedSyncActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="Seed Phrase Re-Sync"/>

        <!-- SERVICES -->
        <service
            android:name="com.minima.android.service.MinimaService"
            android:enabled="true"
            android:exported="true"></service>

        <!-- RECEIVERS -->
        <receiver android:name="com.minima.android.service.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.minima.android.service.Alarm" android:exported="true">

        </receiver>

        <receiver android:name=".dependencies.backupSync.recurring.BackupRecurringAlarmManager" android:exported="false">

        </receiver>

        <provider
            android:authorities="com.minima.android.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <activity
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar">
        </activity>

        <!--DYNAMITE-->

        <activity
            android:name="com.minima.android.dynamite.OnboardingOne"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MinimaAndroid.NoActionBar"
            android:label="OnBoarding"
            android:exported="true">
        </activity>

        <activity
            android:name="com.minima.android.dynamite.OnboardingTwo"
            android:exported="true">
        </activity>
        <activity
            android:name="com.minima.android.dynamite.OnboardingThree"
            android:exported="true">
        </activity>
        <activity
            android:name="com.minima.android.dynamite.OnboardingFour"
            android:exported="true">
        </activity>
        <activity
            android:name="com.minima.android.dynamite.OnboardingFive"
            android:exported="true">
        </activity>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />

    </application>

</manifest>